
<dom-module id="login-dialog-styles">
    <template>
    <style>
      :host {
        display: block;
      }
      
      paper-dialog {
        border: 2px solid;
        border-color: #141c63;
        /* background-color: #d6e4f0; */
        background-color: #ecf2fa;

        /* color: #4caf50; */
        position: fixed;
        top: 16px;
        left: 400px;
        width: 400px;
        height: 450px;
        overflow: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      img {
          max-width: 90%;
          width:350px;
          height: 35%;
          border-top-left-radius: 40px;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          /* style="width:128px;height:128px;" */
      }

    </style> 
</dom-module>
