<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">


<link rel="import" href="login-dialog-styles.html">

<dom-module id="login-dialog">
  <template>

    <style include="login-dialog-styles"></style>

    <paper-dialog heading="Login" modal vertical autoCloseDisabled="true" transition="paper-transition-center" opened="true">
      <img src="teclado.jpg" alt="teclado">
      <!-- -->
      <paper-input id="userNameInput" floatingLabel label="Usuario" value="{{username}}" type="text">
          <iron-icon icon="mail" slot="prefix"></iron-icon>
          <paper-icon-button 
            slot="suffix" 
            on-click="clearUserNameInput" 
            icon="clear"
            alt="clear"
            title="clear"
          ></paper-icon-button>
      </paper-input>
      <paper-input floatingLabel label="Password" value="{{password}}" type="[[_getType(passwordVisible)]]">
          <paper-icon-button 
          slot="suffix" 
          on-click="clearUserPasswordInput" 
          icon="clear"
          alt="clear"
          title="clear"
        ></paper-icon-button>
        <paper-icon-button
          slot="suffix"
          icon="[[_getIcon(passwordVisible)]]"
          on-tap="_togglePasswordVisible"
          class="visibility-icon"
          tabindex="-1"
        ></paper-icon-button>
      </paper-input>


        <paper-button dialog-confirm role="button" on-click="reset" class="noink" affirmative>
          Cancelar
        </paper-button>
       
        <paper-button role="button" on-click="login" class="ink" affirmative>
          Login
        </paper-button>  
    </paper-dialog>
  </template>

  <script src="login-dialog.js"></script>

</dom-module>
