<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../demo-component-2/demo-component-2.html">

<dom-module id="demo-component">
  <template>
    <style>
      :host {
        display: block;
        font-family: arial;
        background-color: gray;
      }
    </style>
    <h2>Hola [[nombre]]  - Edad: [[edad]]  - Id [[id]]  </h2>
    <demo-component-2></demo-component-2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent extends Polymer.Element {
      static get is() { return 'demo-component'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad:  {
            type: Number,
            value: 44
          }

        };
      }
    }

    window.customElements.define(DemoComponent.is, DemoComponent);
  </script>
</dom-module>
