<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-component-2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Menu de bebidas calientes </h2>
    <ul>
      <li>Cafe</li>
      <li>Te</li>
      <li>Cortado</li>
    </ul>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent2 extends Polymer.Element {
      static get is() { return 'demo-component-2'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad:  {
            type: Number,
            value: 44
          }

        };
      }
    }

    window.customElements.define(DemoComponent2.is, DemoComponent2);
  </script>
</dom-module>
