<link rel="import" href="../../../components/cells-credentials-form/cells-credentials-form.html">

<link rel="import" href="../../elements/artichoke-login-dm/artichoke-login-dm.html">
<!-- <link rel="import" href="../../elements/gluon-colombia-login-dm/gluon-colombia-login-dm.html"> -->

<dom-module id="login-page">
  <template>
    <cells-template-paper-header-panel mode="seamed" header-height="60" disable-edge-swipe header-fixed>
      <div slot="app__header">
        <cells-component-app-header
          text="BBVA">
        </cells-component-app-header>
      </div>

      <div slot="app__main">
        <cells-credentials-form
          user-id='P00840007'
          user-name='P00840007'
          user-password='112233'
          on-login="_handleLoginRequest">
        </cells-credentials-form>

        <!-- <gluon-colombia-login-dm
          id="loginDM"
          on-login-success="_handleLoginSuccess"
          on-login-fail="_handleLoginFail">
        </gluon-colombia-login-dm> -->

        <artichoke-login-dm
          id="loginDM"
          on-login-success="_handleLoginSuccess"
          on-login-fail="_handleLoginFail">
        </artichoke-login-dm>
      </div>

      <div slot="app__overlay">
        <cells-molecule-spinner-veil id="spinner" class="solid-background fade">
          <cells-spinner-stripes slot="spinner">
          </cells-spinner-stripes>
        </cells-molecule-spinner-veil>

        <cells-modal-alert
          id="modal"
          type="error"
          content="Usuario/contraseña incorrectos."
          toast>
        </cells-modal-alert>
      </div>
    </cells-template-paper-header-panel>
  </template>

  <script src="login-page.js"></script>
</dom-module>
